body {
	margin: 0px;
	padding: 0px;
	background: #ECF0EC url(/images/sky_blue.jpg) repeat;
	text-align: justify;
//	font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,FreeSans,sans-serif;
    font-family: 'proxima-nova', Arial,Helvetica,sans-serif;
	font-size: 14px;
}

a {
    text-decoration: none;
}

#header {
    position: relative;
    width: 100%;
    height: 30px;
    clear: both;
    alignment: center;
    background-color: #303030;
    color: #bbbbbb;
    padding-top: 10px;
}

#header a {
    color: #bbbbbb;
}

#headercontainer, #footer{
    margin-left:auto;
    margin-right:auto;
    width:900px;
    clear:     both;
}
#headercontainer div {
    display: inline;
}

#headercontainer span {
    color: #bbbbbb;
}

#logo {
    font-size: 16px;
    font-weight: bold;
}

#menu {
    float: right;
}
#menu ul {
	margin: 0px;
	list-style: none;
}

#menu li {
	display: inline;
}

#page {
    margin-left:auto;
    margin-right:auto;
    width:900px;
    clear:     both;
    padding-left: 10px;
    padding-right: 10px;
}

#content {
    float: left;
    width: 60%;
    background-color: #f8f8f8;
    padding:  10px;
}

#sidebar {
    float: right;
    width: 30%;
    background-color: #f8f8f8;
    padding:  10px;
}

.roundbox {
    border-radius: 5px;
    border-width: 1px;
    border-style:  solid;
    border-color: #cccccc;
    background-color: #fefefe;
    padding: 10px;
    margin-top: 10px;
}

#footer {
    text-align: center;
    padding:  10px;
}

#signonbox {
    margin: auto;
    margin-top: 50px;
    border-radius: 10px 10px 10px 10px;
}
.loginform ul {
    list-style: none;
}

.loginform li {
    margin-top: 10px;
}

.loginform label {
    width: 100px;
    margin-right: 15px;
    text-align: right;
    display: inline-block;
}

#signup {
    float: left;
    width: 45%;
    padding:  2%;
}

#signon {
    float: left;
    border-left: 1px solid green;
    width: 45%;
    padding:  2%;
}

.title {
    font-size: 1.5em;
    font-weight: bold;

}

#sidebar ul {
    list-style: none;
}

.subscribe_button {
}

.unsubscribe_button {
}

.clear{
    clear: both;
}

.clickbutton {
    background: -moz-linear-gradient(center top , #FEFEFE 0%, #E9E9E9 100%) repeat scroll 0 0 transparent;
    border: 1px solid #E4E4E4;
    box-shadow: 0 1px 1px #CBCBCB, 0 1px 0 #FFFFFF inset;
    height: 12px;
    width: 40px;
    padding:  2px 5px 2px 5px;
    display: inline-block;
    text-align: center;
    font-size: 12px;
}

.eventsummary {
    margin-top: 10px;
}

#sidebar ul {
    -moz-padding-start: 10px;
}